<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
            <servlet-name>ComputerController</servlet-name>
            <servlet-class>admin.fw1028.top.ComputerController</servlet-class>
    </servlet>
    <servlet-mapping>
            <servlet-name>ComputerController</servlet-name>
            <url-pattern>/ComputerController</url-pattern>
    </servlet-mapping>
    <servlet>
            <servlet-name>show</servlet-name>
            <servlet-class>admin.fw1028.top.show</servlet-class>
    </servlet>
    <servlet-mapping>
            <servlet-name>show</servlet-name>
            <url-pattern>/show</url-pattern>
    </servlet-mapping>
</web-app>
