<?xml version="1.0" encoding="UTF-8"?>
<web-app
        version="4.0" metadata-complete="false">
    <servlet>
            <servlet-name>ComputerController</servlet-name>
            <servlet-class>admin.fw1028.top.ComputerController</servlet-class>
    </servlet>
    <servlet-mapping>
            <servlet-name>ComputerController</servlet-name>
            <url-pattern>/ComputerController</url-pattern>
    </servlet-mapping>
</web-app>